<!-- src/app/pages/create/create.component.html -->
<p class="col-sm-12 text-center lead">
  Hello! Create a customized tag for your pet.
</p>

<app-tag-shape (selectShapeEvent)="selectShapeHandler($event)"></app-tag-shape>


<app-tag-text *ngIf="petTag.shape" (selectFontEvent)="selectFontHandler($event)" (addTextEvent)="addTextHandler($event)"></app-tag-text>

<app-tag-extras *ngIf="petTag.shape" (toggleClipEvent)="toggleClipHandler()" (toggleGemsEvent)="toggleGemsHandler()"></app-tag-extras>

<app-tag-preview [petTag]="petTag"></app-tag-preview>